.DS_Store
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/daniel.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/daniel.xcuserdatad/xcschemes/xcschememanagement.plist
.env
/.build
.env.development
.swiftpm/xcode/xcshareddata/xcschemes/cocktails.xcscheme
/Resources/snapshots/Users/
/Resources/snapshots/Bars/
